asgiref
attrs
autobahn
Automat
cffi
channels
constantly
cryptography
daphne
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
hyperlink
idna
incremental
pyasn1
pyasn1_modules
pycparser
PyJWT
pyOpenSSL
service-identity
sqlparse
tomli
Twisted
txaio
typing_extensions
zope.interface
psycopg[binary]
Pillow